body {
text-align: center;
}

.header {
color:#87040d;
font-weight: bold:
font-family:Georgia, 'Times New Roman', Times, serif;
}

.text {
color: #884dd9;
text-align: center;
font-family: Georgia, serif;
font-size: 18px;
}