body {
text-align: center;
}

.header {
color:#87040d;
}

.text {
color: #884dd9;
font-family: Georgia, serif;
font-size: 18px;
}

.name {
color: #9c3b3b;
font-weight: bold;
font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.bob {
color: #10c8ce;
font-weight: bold;
font-family: papyrus;
}

.toni {
  color: #a590de;
  font-weight: bold;
  font-family: baskerville, garamond, tahoma, serif;
}

.toni:hover {
  color: #5F2466;
  background-color: #a590de;
}

.hannah {
  color: #499DE6; 
  font-family: "Barriecito";
}
