body {
text-align: center;
}

.header {
color:#87040d;
}

.text {
color: #884dd9;
font-family: Georgia, serif;
font-size: 18px;
}

.name {
color: #9c3b3b;
font-weight: bold;
font-family: helvetica
}

.bob {
color: #10c8ce;
font-weight: bold;
font-family: papyrus
}

tr {
  text-align: center;
  color: black;
  font-family: baskerville;
}

tr:hover {
  color: pink;
}
