body {
text-align: center;
}

.header {
color:#87040d;
}

.text {
color: #884dd9;
font-family: Georgia, serif;
font-size: 18px;
}

.name {
color: #9c3b3b;
font-weight: bold;
font-family: helvetica
}

.bob {
font-family: helvetica;
  color: #0f91a8;
  font-weight: bold
}
